@model IEnumerable<Ashyana.UI.Web.Models.Country>


<h2>Details</h2>

<div >

    <h4>Country</h4>
    <hr />
    <table class=" table table-striped table-bordered datatable">
        <tbody>
            <tr>

                <th>CountryName</th>
                <th>CountryDesc</th>
                <th>CountryImage</th>

            </tr>
           
                @foreach (var item in Model)
                {
                    <tr>

                        <td>@item.CountryName</td>
                        <td>@item.CountryDesc</td>
                        <td>@item.CountryImage</td>

                        <td>@Html.ActionLink("Edit", "Edit", new {id=item.CountryID })</td>
                        <td>@Html.ActionLink("Details", "Edit", new { id = item.CountryID })</td>
                        <td>@Html.ActionLink("Delete", "Delete", new { id = item.CountryID })</td>
                    </tr>
                }
                
        </tbody>
    </table>

</div>

<p>
    @Html.ActionLink("Edit", "Edit") |
    @Html.ActionLink("Back to List", "Index")
</p>
