
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">

    
    <title>property</title>
    <script src="~/NewScriptCss/js/jquery-2.js"></script>
    <script src="~/NewScriptCss/js/bootstrap.js"></script>
    <script src="~/NewScriptCss/js/custom.js"></script>
    <link href="~/NewScriptCss/css/animate.css" rel="stylesheet" />
    <!-- Bootstrap core CSS -->
    <link href="~/NewScriptCss/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/NewScriptCss/css/bs_leftnavi.css">
    <script src="~/NewScriptCss/js/bs_leftnavi.js"></script>
    <script src="~/NewScriptCss/js/jquery_002.js"></script>
    <link href="~/NewScriptCss/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/NewScriptCss/css/jquery.css">
    <link href="~/NewScriptCss/css/master.css" rel="stylesheet">
    <link rel="stylesheet" href="~/NewScriptCss/css/media.css">
    <link href="~/NewScriptCss/css/animate.css" rel="stylesheet">
    <!--For Number Counter Animation -->
    <script src="~/NewScriptCss/js/waypoints.js"></script>
    <script src="~/NewScriptCss/js/jquery.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            $('.counter').counterUp({
                delay: 50,
                time: 1600
            });
        });
    </script>
   
    <script src="js/wow.js"></script>
    <!--[if lt IE 9]>

    <!--[if lte IE 7]> <html class="ie7"> <![endif]-->
    <!--[if IE 8]> <html class="ie8"> <![endif]-->
    <!--[if IE 9]> <html class="ie9"> <![endif]-->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="homepage-body">
    <div class="gw-sidebar">
        <div id="gw-sidebar" class="gw-sidebar scroll mCustomScrollbar _mCS_1" style="overflow: hidden;">
            <div class="mCustomScrollBox mCS-light" id="mCSB_1" style="position: relative; height: 100%; overflow: hidden; max-width: 100%; max-height: 629.64px;">
                <div class="mCSB_container mCS_no_scrollbar" style="position: relative; top: 0;">
                    <div class="nano-content">
                        <ul class="gw-nav gw-nav-list">
                            

                            <li class="init-arrow-down">
                                <a href="javascript:void(0)"><i class="fa fa-user-o" aria-hidden="true"></i><span class="gw-menu-text">Services</span> <b class="gw-arrow"></b></a>
                                <ul class="gw-submenu">
                                    <li><a href="http://www.nityo.com/service-mobility" target="_parent">Mobility</a> </li>
                                    <li><a href="http://www.nityo.com/service-bigdata" target="_parent">Big Data</a> </li>
                                    <li><a href="http://www.nityo.com/service-cloudcomputing" target="_parent">Cloud Computing</a> </li>
                                    <li><a href="http://www.nityo.com/services-businesstechnology" target="_parent">Business Technology Services</a> </li>
                                    <li><a href="http://www.nityo.com/services-staffing-outsourced-payroll-services" target="_parent">Staffing &amp; Outsourced Payroll Services</a> </li>
                                    <li><a href="http://www.nityo.com/services-consultingservices" target="_parent">Consulting Services</a> </li>
                                    <li><a href="http://www.nityo.com/services-enterprise-applicationservices" target="_parent">Enterprise Application Services</a> </li>
                                    <li><a href="http://www.nityo.com/services-infrastructure-managementservices" target="_parent">Infrastructure Management Services</a> </li>
                                    <li><a href="http://www.nityo.com/services-productengineering-services" target="_parent">Product Engineering Services</a> </li>
                                    <li><a href="http://www.nityo.com/services-materialsmechanical-engineeringservices" target="_parent">Materials &amp; Mechanical Engineering Services</a> </li>
                                    <li><a href="http://www.nityo.com/services-outsourcingservices">Business Process Outsourcing</a> </li>
                                    <li><a href="http://www.nityo.com/services-testingservices">Testing Services</a> </li>
                                    <li><a href="http://www.nityo.com/services-trainingservices">Training Services</a> </li>
                                    <li><a href="http://www.nityo.com/services-retailofferings">Retail Offerings</a> </li>
                                </ul>
                            </li>
                            <li class="init-arrow-down">
                                <a href="javascript:void(0)"><i class="fa fa-bullhorn" aria-hidden="true"></i><span class="gw-menu-text">Verticals</span> <b class="gw-arrow icon-arrow-up8"></b></a>
                                <ul class="gw-submenu">
                                    <li><a href="http://www.nityo.com/verticals-automotive" target="_parent">Automotive</a> </li>
                                    <li><a href="http://www.nityo.com/verticals-bfsi" target="_parent">BFSI</a> </li>
                                    <li><a href="http://www.nityo.com/verticals-businesscustomer-services" target="_parent">Business and Customer Services</a> </li>
                                    <li><a href="http://www.nityo.com/verticals-communication-service-provider" target="_parent">Communication Service Provider</a> </li>
                                    <li><a href="http://www.nityo.com/verticals-computingsoftware" target="_parent">Computing Software</a> </li>
                                    <li><a href="http://www.nityo.com/verticals-consumerelectronics" target="_parent">Consumer Electronics</a> </li>
                                    <li><a href="http://www.nityo.com/verticals-energy" target="_parent">Energy</a> </li>
                                    <li><a href="http://www.nityo.com/verticals-healthcare" target="_parent">Health Care</a> </li>
                                    <li><a href="http://www.nityo.com/verticals-manfacturing" target="_parent">Manufacturing</a> </li>
                                    <li><a href="http://www.nityo.com/verticals-media" target="_parent">Media</a> </li>
                                    <li><a href="http://www.nityo.com/verticals-mobiledevice" target="_parent">Mobile Device</a> </li>
                                    <li><a href="http://www.nityo.com/verticals-pharmaceutical-lifescience" target="_parent">Pharmaceutical &amp; Lifescience</a> </li>
                                    <li><a href="http://www.nityo.com/verticals-retail" target="_parent">Retail</a> </li>
                                    <li><a href="http://www.nityo.com/verticals-semiconductors" target="_parent">Semiconductor</a> </li>
                                    <li><a href="http://www.nityo.com/verticals-utility" target="_parent">Utility</a> </li>
                                </ul>
                            </li>
                            <li class="init-arrow-down">
                                <a href="javascript:void(0)"><i class="fa fa-clock-o" aria-hidden="true"></i><span class="gw-menu-text">Corporate</span> <b></b></a>
                                <ul class="gw-submenu">
                                    <li>
                                        <a href="http://www.nityo.com/aboutus" target="_parent">About Us</a>
                                    </li>
                                    <li>
                                        <a href="http://www.nityo.com/management" target="_parent">Management</a>
                                    </li>
                                    <li>
                                        <a href="http://www.nityo.com/alliances-and-clientele" target="_parent">Alliances and Clientele</a>
                                    </li>
                                    <li>
                                        <a href="http://www.nityo.com/socialresponsibility-and-valueproposition" target="_parent">Social Responsibility &amp; Value Proposition</a>
                                    </li>
                                    <li><a href="http://www.nityo.com/globalpresence-awards" target="_parent">Global Presence and Awards</a> </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="mCSB_scrollTools" style="position: absolute; display: none;">
                    <div class="mCSB_draggerContainer">
                        <div class="mCSB_dragger" style="position: absolute; top: 0px;" oncontextmenu="return false;">
                            <div class="mCSB_dragger_bar" style="position: relative;"></div>
                        </div>
                        <div class="mCSB_draggerRail"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input id="nav-trigger" class="nav-trigger" value="checked" autocomplete="off" type="checkbox">
    <label for="nav-trigger" class="">
        <span></span>
        <span></span>
        <span></span>
    </label>
    <div class="site-wrap">
        <header class="wow slideInDown" data-wow-offset="30" style="visibility: visible; animation-name: slideInDown;">
            <div class="container">
                <div class="row">
                    <div class="col-sm-1">
                        <h1 class="logo"><a href="#"></a></h1>
                    </div>
                    <div class="col-sm-11">
                        <ul class="nav navbar-nav">
                            @if (ViewBag.homeMenu != null)
                            {
                                foreach (var a in ViewBag.homeMenu)
                                {
                                    <li style="padding:5px;font-weight:100">@a.linkName</li>
                                }
                            }
                        </ul>
                        <ul class="menus_right">
                            <li>
                                <a href="https://sas.cmmiinstitute.com/PARS/pars_detail.aspx?a=27628" target="_blank">
                                    <img src="../NewScriptCss/images/cmmi.png" class="cmmi">
                                </a>
                            </li>
   
                        </ul>
                        
                        <ul class="nav navbar-nav">
                            


                            @if (Session["mList"] != null)
                            {
                                var MenuMaster = (List<Ashyana.UI.Web.ViewModel.MenuList>)Session["mList"];
                                var groupByMenu = MenuMaster.GroupBy(x => x.linkName).ToList();
                                foreach (var item in groupByMenu)
                                {
                                    <li>

                                        @if (item.Key == "changepassword")
                                        {
                                            @Html.ActionLink("CHANGE PASSWORD", "ResetPassword", "Account")
                                        }
                                        else
                                        {
                                            @item.Key
                                        }


                                        <ul style="display: none;" class="sub_menu">
                                            <li class="arrow_top"><span class="arrow"></span></li>
                                            @foreach (var subitem in item)
                                            {
                                                if (subitem.subLinkName != null)
                                                {
                                                    <li><a href="~/@subitem.subLinkPath">@subitem.subLinkName</a></li>
                                                }
                                            }
                                        </ul>
                                    </li>




                                }

                            }

                            else
                            {
                                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                                @*<li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>*@
                                <li><a href="#" data-toggle="modal" data-target="#myModal"> login</a></li>
                                <li><a href="#" data-toggle="modal" data-target="#myModal2"> Register</a></li>
                                @*@Html.Partial("_LoginPartial")*@

                            }

                        </ul>

                        <p>
                            @if (Session["userid"] != null)
                            {
                                @Html.Partial("_LoginPartial")
                            }
                        </p>
                    </div>
                </div>
            </div>
        </header>
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
           
                <li data-target="#carousel-example-generic" data-slide-to="3" class=""></li>
                <li data-target="#carousel-example-generic" data-slide-to="4" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="5" class=""></li>
             
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                
                
                <div class="item">
                    <img src="../NewScriptCss/images/internet-of-things.jpg" alt="Internet Of Things" title="Internet Of Things">
                    <a href="#" target="_parent">
                        <div class="carousel-caption">
                            <h3 class="animated fadeInLeftBig"><b>Make the  <font class="bannercolorfont">Internet of Things</font>real Today</b> </h3>
                            <p class="animated fadeInRightBig">
                                Bring your
                                business together in new insightful ways with the Internet of Things
                                (IoT)—from increasing process efficiencies to delivering better customer
                                experiences to generating new revenue streams.
                            </p>
                        </div>
                    </a>
                </div>
                <div class="item active">
                    <img src="../images/site.jpg" alt="Ready property" title="Best offers ">
                    <a href="#" target="_parent">
                        <div class="carousel-caption">
                            <h3 class="animated fadeInLeftBig"><b>Artificial <font class="bannercolorfont bannercolorfont1">Intelligence and Automation</font></b></h3>
                            <p class="animated fadeInRightBig">
                                Getting Smarter by the Day
                                <br>
                                AI is Elevating the Performance of Global Companies
                            </p>
                        </div>
                    </a>
                </div>
                <div class="item">
                    @*<img src="@Url.Content("../images/site.jpg")" alt="Image" class="imglogo" />*@
                    <img src="../images/site.jpg" alt="Ready property" title="Best offers ">
                    <a href="#" target="_parent">
                        <div class="carousel-caption">
                            <h3 class="animated fadeInLeftBig"><b>Success from <font class="bannercolorfont bannercolorfont1">innovation</font></b></h3>
                            <p class="animated fadeInRightBig">
                                Shaping a Better Future through Extraordinary Innovations
                                <br>
                                INNOVATION Convert vision into innovative, successful products
                            </p>
                        </div>
                    </a>
                </div>
               
            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <i class="fa fa-angle-left" aria-hidden="true"></i>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <i class="fa fa-angle-right" aria-hidden="true"></i>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <div class="fullbg lightgrey">
            <div class="container">
                <div class="heading-common">
                    <h4 class="wow bounceInDown" data-wow-offset="300" style="visibility: visible; animation-name: bounceInDown;">About <span>NITYO</span></h4>
                    <p>
                    @RenderBody()
                    </p>
                </div>
                <div class="row margintop40">
                    <div class="col-sm-6">
                        <div class="aboutnityo-lg_box wow zoomIn" data-wow-offset="300" style="visibility: visible; animation-name: zoomIn;">
                            <img src="images/aboutus-box.jpg">
                            <p>
                                Nityo Infotech is global management
                                consulting, technology services and outsourcing company headquartered in
                                Pittsburgh PA, USA with a strong presence in Americas, APAC, India,
                                EMEA, Canada, Australia, Japan and South Africa.
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="aboutnityo-lg_box nityo_glance wow bounceInRight" data-wow-offset="300" style="visibility: visible; animation-name: bounceInRight;">
                                    <h3>Nityo at Glance</h3>
                                    <p>
                                        Consulting workforce of 7200+ highly
                                        trained domain experts, project managers and leading-edge technology
                                        specialists. Also, Excellent delivery track record of servicing fortune
                                        500 companies.
                                    </p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="aboutnityo-lg_box nityo_glance wow bounceInRight" style="visibility: visible; animation-name: bounceInRight;">
                                    <h3>Global Presence</h3>
                                    <p>
                                        Nityo has a global footprint with
                                        offices and development centers across the globe, in countries like USA ,
                                        Singapore , Malaysia and India. Nityo delivery centers includes the
                                        Singapore, Malaysia and more.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="aboutnityo-lg_box nityo_glance mission_vision wow bounceInRight" style="visibility: visible; animation-name: bounceInRight;">
                                    <h3>Mission &amp; Vision at Glance</h3>
                                    <p>To redefine Customer Business Equity with 3T.i.e Transformation, Technology and Talent.</p>
                                    <p>
                                        Our vision is to empower our
                                        customers to focus on Core Business Competence through innovative and
                                        competitive IT and Business Process Outsourcing
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fullbg">
            <div class="container">
                <div class="heading-common">
                    <h4 class="wow bounceInUp" data-wow-offset="100" style="visibility: visible; animation-name: bounceInUp;">Our <span>Focus</span></h4>
                    <p>
                        Reproduce the dynamic behavior of your future apps or
                        websites with business logic and conditional navigation. Design smart
                        forms and data tables. Get a realistic simulation of your web or mobile
                        concepts!
                    </p>
                </div>
                <div class="row margintop40 ourfocus_boxes">
                    <a href="http://www.nityo.com/services-businesstechnology" target="_parent">
                        <div class="col-sm-4 col-xs-6 wow zoomIn" data-wow-offset="50" style="visibility: visible; animation-name: zoomIn;">
                            <h5 class="numberone"><span>1</span></h5>
                            <h4>
                                Business Technology
                                <br>
                                Services
                            </h4>
                        </div>
                    </a>
                    <a href="http://www.nityo.com/services-consultingservices" target="_parent">
                        <div class="col-sm-4 col-xs-6 wow zoomIn" data-wow-offset="50" style="visibility: visible; animation-name: zoomIn;">
                            <h5 class="numbertwo"><span>2</span></h5>
                            <h4>
                                Consulting
                                <br>
                                Services
                            </h4>
                        </div>
                    </a>
                    <a href="http://www.nityo.com/services-outsourcingservices" target="_parent">
                        <div class="col-sm-4 col-xs-6 wow zoomIn" data-wow-offset="50" style="visibility: visible; animation-name: zoomIn;">
                            <h5 class="numberthree"><span>3</span></h5>
                            <h4>
                                Business &amp; Knowledge
                                <br>
                                Process Services
                            </h4>
                        </div>
                    </a>
                    <a href="http://www.nityo.com/services-productengineering-services" target="_parent">
                        <div class="col-sm-4 col-xs-6 wow zoomIn" data-wow-offset="50" style="visibility: visible; animation-name: zoomIn;">
                            <h5 class="numberfour"><span>4</span></h5>
                            <h4>
                                Product Engineering
                                <br>
                                Services
                            </h4>
                        </div>
                    </a>
                    <a href="https://www.mylearningcube.com/" target="_blank">
                        <div class="col-sm-4 col-xs-6 wow zoomIn" data-wow-offset="50" style="visibility: visible; animation-name: zoomIn;">
                            <h5 class="numberfive"><span>5</span></h5>
                            <h4>
                                Training
                                <br>
                                Solutions
                            </h4>
                        </div>
                    </a>
                    <a href="https://www.mylearningcube.com/" target="_blank">
                        <div class="col-sm-4 col-xs-6 wow zoomIn" data-wow-offset="50" style="visibility: visible; animation-name: zoomIn;">
                            <h5 class="numbersix"><span>6</span></h5>
                            <h4>
                                Online Courses
                                <br>
                                Services
                            </h4>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="fullbg fastfacts">
            <div class="container">
                <div class="heading-common">
                    <h4 class="wow bounceInDown" data-wow-offset="100" style="visibility: visible; animation-name: bounceInDown;">Our <span>Fast Facts</span></h4>
                    <p>
                        With a rich experience of 12+ years, we has become a
                        name to reckon with. The facts tells our success story and we believe in
                        process, Nityo is process oriented company with a vision to empower our
                        customers to focus on Core Business Competence through innovative and
                        competitive IT and Business Process Outsourcing.
                    </p>
                </div>
                <div class="row margintop40">
                    <div class="col-sm-3 col-xs-6 wow bounceInLeft" data-wow-offset="100" style="visibility: visible; animation-name: bounceInLeft;">
                        <h5><span class="counter" style="display: inline-block; width: 82px;">30</span>+</h5>
                        <h4>
                            Awards
                            <br>
                            in 12 Years
                        </h4>
                    </div>
                    <div class="col-sm-3 col-xs-6 wow bounceInDown" data-wow-offset="100" style="visibility: visible; animation-name: bounceInDown;">
                        <h5><span class="counter" style="display: inline-block; width: 82px;">1.0</span>+M</h5>
                        <h4>
                            Users on
                            <br>
                            LMS Portal
                        </h4>
                    </div>
                    <div class="col-sm-3 col-xs-6 wow bounceInUp" data-wow-offset="100" style="visibility: visible; animation-name: bounceInUp;">
                        <h5><span class="counter" style="display: inline-block; width: 100px;">500</span>+</h5>
                        <h4>
                            Projects
                            <br>
                            successfully delivered
                        </h4>
                    </div>
                    <div class="col-sm-3 col-xs-6 wow bounceInRight" data-wow-offset="100" style="visibility: visible; animation-name: bounceInRight;">
                        <h5><span class="counter" style="display: inline-block; width: 82px;">12</span>+</h5>
                        <h4>
                            Years of Successful
                            <br>
                            journey
                        </h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="fullbg lightgrey">
            <div class="container">
                <div class="heading-common">
                    <h4>Client <span>Testimonials</span></h4>
                    <p>More than 98% of our clients recommend our services to others. Explore what they say about our services.</p>
                </div>
                <div class="row margintop40 client-testimonials">
                    <div class="col-sm-12">
                        <div id="transition-timer-carousel" class="carousel slide transition-timer-carousel" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#transition-timer-carousel" data-slide-to="0" class="active"></li>
                                <li data-target="#transition-timer-carousel" data-slide-to="1" class=""></li>
                            </ol>
                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                                <div class="item active">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="col-md-9 col-sm-8 col-xs-12">
                                                <div class="caption wow bounceInRight" data-wow-offset="300" style="visibility: visible; animation-name: bounceInRight;">
                                                    <div class="lefticon-quote">
                                                        <i class="fa fa-quote-left" aria-hidden="true"></i>
                                                    </div>
                                                    <div class="para-quote">
                                                        <p>
                                                            Nityo worked hard
                                                            alongside our technology and data quality experts to meet our
                                                            objectives and the standards we set for our technology platform, which
                                                            involved complex customization. They have proactively solved issues
                                                            impacting the business and handled the continuous releases of the
                                                            applications promptly.
                                                        </p>
                                                    </div>
                                                    <div class="righticon-quote">
                                                        <i class="fa fa-quote-right" aria-hidden="true"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-sm-4 col-xs-12">
                                                <div class="testimonial-clientname">
                                                    <h5>John Lincoln</h5>
                                                    <p>TELESOFT</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="col-md-9 col-sm-8 col-xs-12">
                                                <div class="caption">
                                                    <div class="lefticon-quote">
                                                        <i class="fa fa-quote-left" aria-hidden="true"></i>
                                                    </div>
                                                    <div class="para-quote">
                                                        <p>
                                                            I would also like
                                                            to compliment the Nityo team on the continuous support provided during
                                                            and post implementation. Team have always been receptive and forthcoming
                                                            while taking up issues, changes, enhancements etc. and we hope that
                                                            their positive approach and continued support will be one of the key
                                                            driving forces in cementing our relationship further.
                                                        </p>
                                                    </div>
                                                    <div class="righticon-quote">
                                                        <i class="fa fa-quote-right" aria-hidden="true"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-sm-4 col-xs-12">
                                                <div class="testimonial-clientname">
                                                    <h5>Bob Marley</h5>
                                                    <p>SONY</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Controls -->
                            <a class="left carousel-control" href="#transition-timer-carousel" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" href="#transition-timer-carousel" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fullbg clientlogos">
            <div class="container">
                <div class="row margintop40">
                    <div class="clientlogo_sony wow fadeIn" data-wow-offset="200" style="visibility: visible; animation-name: fadeIn;"></div>
                    <div class="clientlogo_amdocs wow fadeIn" data-wow-offset="200" style="visibility: visible; animation-name: fadeIn;"></div>
                    <div class="clientlogo_thomson wow fadeIn" data-wow-offset="300" style="visibility: visible; animation-name: fadeIn;"></div>
                    <div class="clientlogo_hp wow fadeIn" data-wow-offset="300" style="visibility: visible; animation-name: fadeIn;"></div>
                    <div class="clientlogo_telesoft wow fadeIn" data-wow-offset="300" style="visibility: visible; animation-name: fadeIn;"></div>
                    <div class="clientlogo_reliance wow fadeIn" data-wow-offset="300" style="visibility: visible; animation-name: fadeIn;"></div>
                </div>
            </div>
        </div>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-3 col-xs-6">
                        <div class="footer_about">
                            <h3>About Us</h3>
                            <p>
                                Nityo Infotech is global management consulting,
                                technology services and outsourcing company headquartered in Pittsburgh
                                PA, USA with a strong presence in Americas, APAC
                            </p>
                            <span>
                                <a href="http://www.nityo.com/aboutus" target="_parent">More About Us <i class="fa fa-angle-right"></i></a>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-6">
                        <div class="footer_about">
                            <h3>Corporate</h3>
                            <ul>
                                <li>
                                    <a href="http://www.nityo.com/aboutus" target="_parent">About Us</a>
                                </li>
                                <li>
                                    <a href="http://www.nityo.com/management" target="_parent">Management</a>
                                </li>
                                <li>
                                    <a href="http://www.nityo.com/alliances-and-clientele" target="_parent">Alliances and Clientele</a>
                                </li>
                                <li>
                                    <a href="http://www.nityo.com/socialresponsibility-and-valueproposition" target="_parent">Social Responsibility &amp; Value Proposition</a>
                                </li>
                                <li>
                                    <a href="http://www.nityo.com/globalpresence-awards" target="_parent">Global Presence and Awards</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <div class="footer_about footer_contactlast">
                            <h3>Contact Us</h3>
                            <p>
                                <a href="http://www.nityo.com/contactus#locations">
                                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                                    <span>2652 Hidden Valley Drive, Suite 303, Pittsburgh, PA 15241</span>
                                </a>
                            </p>
                            <p>
                                <a href="tel:+1-412-226-5546">
                                    <i class="fa fa-mobile-phone" aria-hidden="true"></i>
                                    <span>Phone: +1-412-226-5546</span>
                                </a>
                            </p>
                            <p>
                                <i class="fa fa-fax" aria-hidden="true"></i>
                                <span>Fax: +1 724 941 1068</span>
                            </p>
                            <ul class="social">
                                <li>
                                    <a href="https://www.facebook.com/Nityo-Infotech-191720577620/" target="_blank"><i class="fa fa-facebook-f fa-2x" aria-hidden="true"></i></a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/nityoinfotechco" target="_blank"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
                                </li>
                                <!--<li>
                                    <a href=""><i class="fa fa-google-plus fa-2x" aria-hidden="true"></i></a>
                                </li>-->
                                <li>
                                    <a href="https://www.linkedin.com/company/nityo-infotech" target="_blank"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <div class="container">
                    <p>Copyright © 2017 All Rights Reserved. Powered by Nityo Infotech.</p>
                    <span>
                        <a href="http://www.nityo.com/termofuse-disclaimer">Terms of Use </a>
                        <a href="http://www.nityo.com/privacy-policy">Privacy Policy</a>
                        <a href="http://www.nityo.com/email-disclaimer">Email Disclaimer</a>
                        <a href="http://www.nityo.com/information-security-policy">Information Security Policy</a>
                    </span>
                </div>
            </div>
            <a href="#" title="Go To Top" class="go-top text-center" style="display: none;">
                <i class="fa fa-chevron-up" aria-hidden="true"></i>
            </a>
        </footer>
    </div>

    @if (Session["Username"] == null)
    {
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog " style="width:500px;">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Login</h4>
                    </div>
                    <div class="modal-body">
                        <p>@Html.Partial("~/Views/Account/Login.cshtml")</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="myModal2" role="dialog">
            <div class="modal-dialog " style="width:500px;">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Register </h4>
                    </div>
                    <div class="modal-body">

                        @Html.Partial("~/Views/Account/Register.cshtml")
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    }

</body>
</html>
<script type="text/javascript">

    $(function () {
        $('nav ul li').hover(

            function () {

                //show its submenu
                $('ul', this).slideDown(120);
            },
            function () {
                //hide its submenu
                $('ul', this).slideUp(350);
            }
        );
    });
    //end
</script>