@model Ashyana.UI.Web.Models.Property



<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog " style="width:780px;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Property Details </h4>
            </div>
            <div class="modal-body">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.propertyTypeID)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.propertyTypeID)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.propertyDesc)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.propertyDesc)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.purchaseType)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.purchaseType)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.propertyPrice)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.propertyPrice)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.bedroom)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.bedroom)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.propertyArea)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.propertyArea)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.countryID)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.countryID)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.stateID)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.stateID)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.cityID)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.cityID)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.metro)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.metro)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.propertyAddress)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.propertyAddress)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.propertyLocality)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.propertyLocality)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.pin)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.pin)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.propertyAge)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.propertyAge)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.propertyTenure)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.propertyTenure)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.propertyImage)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.propertyImage)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.propertyDelete)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.propertyDelete)
                    </dd>

                  
                </dl>
            </div>
            <p>

                @Html.ActionLink("Back to List", "Index")
            </p>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#myModal").modal('show');
    });

</script>
