@model IEnumerable<Ashyana.UI.Web.Models.Property>

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<style type="text/css">
    .filter-table {
        margin-left: 0.5em;
        font-size: 1.8em;
        text-decoration: none;
    }

    }

    .fitler-table .quick:hover {
        text-decoration: underline;
    }

    td.alt {
        background-color: #ffc;
        background-color: rgba(255, 255, 0, 0.2);
    }
</style>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="table-responsive">
    <table class="table table table-striped table-bordered datatable" style="overflow-y:scroll;">
        <tr>
            <th>Sl No.</th>
            <th>
                @Html.DisplayNameFor(model => model.propertyTypeID)
            </th>
            @*
                <th>
                    @Html.DisplayNameFor(model => model.propertyDesc)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.purchaseType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.propertyPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.bedroom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.propertyArea)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.countryID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.stateID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cityID)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.metro)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.propertyAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.propertyLocality)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.propertyAge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.propertyTenure)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.propertyImage)
            </th>

            
                @*<th>
                    @Html.DisplayNameFor(model => model.propertyCreatedby)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.propertyCreatedon)
                </th>*@

        </tr>

        @foreach (var item in Model)
        {

            <tr>
                <td>@Html.DisplayFor(modelItem => item.propertyID)</td>
                <td>
                    @Html.DisplayFor(modelItem => item.propertyTypeName)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.propertyDesc)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.purchaseType)
                </td>
                <td>
                 Rs: @Html.DisplayFor(modelItem => item.propertyPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.bedroom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.propertyArea)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CountryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StateName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CityName)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.metro)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.propertyAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.propertyLocality)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.pin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.propertyAge)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.propertyTenure)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.propertyImage)
                </td>

                @*<td>
                        @Html.DisplayFor(modelItem => item.propertyCreatedby)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.propertyCreatedon)
                    </td>*@


                <td>
                    <a class="btn btn-default" href="@Url.Action("Edit", "Property", new { id = item.propertyID })">
                        <i class="glyphicon glyphicon-pencil"></i>
                        Edit
                    </a>
                    @*@Html.ActionLink("Edit", "Edit", new { id = item.userID })*@
                </td>
                <td>
                    <a class="btn btn-default" href="@Url.Action("Update", "Property", new { id = item.propertyID })">
                        <i class="glyphicon glyphicon-refresh"></i>
                        Update

                    </a>
                </td>
                <td>
                    <a class="btn btn-default" href="@Url.Action("Delete", "Property", new { id = item.propertyID })">
                        <i class="glyphicon glyphicon-remove"></i>
                        Delete
                        @*@Html.ActionLink("Delete", "Delete", new { id = item.userID })*@
                    </a>
                </td>

            </tr>


        }
    </table>

</div>

<script src="@Url.Content("~/Scripts/filterData/jquery.filtertable.min.js")" type="text/javascript"> </script>

<script type="text/javascript">

    $(document).ready(function () {
        $('table').filterTable();
    });

</script>